<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>departement-create</title>
</head>
<body>
	<h1>新規部署登録</h1>
	<p>作成する部署名</p>
	<form th:action="@{/department/store}" th:object="${departmentForm}" method="POST">
		<div>
			<label for="nameJp">作成する部署名</label>
			<input type="text" th:field="*{nameJp}" placeholder="新しい部署名">
			<div th:if="${#fields.hasErrors('nameJp')}" th:text="${#fields.errors('*{nameJp}')[0]}" class="error-message"></div>
			<br>
			<label for="nameEn">部署名(英語)</label>
			<input type="text" th:field="*{nameEn}" placeholder="新しい部署名(英語)">
			<div th:if="${#fields.hasErrors('nameEn')}" th:text="${#fields.errors('*{nameEn}')[0]}" class="error-message"></div>
			<br>
			<button type="submit" onclick="return confirm('登録します。宜しいですか？')">登録</button><br>
			<a th:href="@{/department/index}">部署一覧に戻る</a><br>
		</div>
	</form><br>
</body>
</html>