<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>departement-index</title>
</head>
<body>
	<h1>部署一覧</h1>
	<div>
		<p>キーワード</p>
		<form　th:action="@{/}" action="GET">
			<div>
				<input placeholder="検索したい部署を入力">
				<button><a>検索</a></button>
				<button><a>クリア</a></button>
			</div>
		</form><br>	
		検索結果　　件
		<div>	
			<button type="button" onclick="location.href='/department/create'">部署新規追加</button>
		</div>
		<div th:each="department : ${departments}">
			<p th:text="${department.nameJp}">チーム</p>
			<form th:action="@{/department/edit/{departmentId}(departmentId=${department.id})}" method="GET">
				<button type="submit">編集</button>
			</form>
		</div>
	</div>
</body>
</html>