<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
    <main layout:fragment="content">
        <div>
            <div id="clock">
                <div id="datePart"></div>
                <div id="timePart"></div>
            </div>
            <div class="box">
                <form method="post" th:action="@{/timestamp/store}" th:object="${timestampForm}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="form-wrapper">
                        <div class="form-row">
                            <select name="workPlaceId">
                                <option th:each="place : ${places}" th:value="${place.id}" th:text="${place.name}"></option>
                            </select>
                        </div>
                        <div class="form-row">
                            <th:block th:if="${#lists.isEmpty(timestampHistories)}">
                                <input type="hidden" name="type" value="1">
                                <button type="submit">出勤</button>
                            </th:block>
    
                            <th:block th:if="${not #lists.isEmpty(timestampHistories)}">
                                <th:block th:switch="${timestampHistories[0].type}">
                                    <th:block th:case="4">
                                        <input type="hidden" name="type" value="1">
                                        <button type="submit">出勤</button>
                                    </th:block>
                                    <th:block th:case="1">
                                        <input type="hidden" name="type" value="2">
                                        <button type="submit">休憩開始</button>
                                    </th:block>
                                    <th:block th:case="2">
                                        <input type="hidden" name="type" value="3">
                                        <button type="submit">休憩終了</button>
                                    </th:block>
                                    <th:block th:case="3">
                                        <input type="hidden" name="type" value="4">
                                        <button type="submit">退勤</button>
                                    </th:block>
                                    <th:block th:case="*">エラー</th:block>
                                </th:block>
                            </th:block>
                        </div>
                        <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="error-message"></span>
                        <span th:if="${#fields.hasErrors('workPlaceId')}" th:errors="*{workPlace}"
                            class="error-message"></span>
                    </div>
                </form>
            </div>
            <div>
                <span th:if="${successMessage}" th:text="${successMessage}"></span>
            </div>
            <div class="box-2">
                <button>打刻オプション</button>
            </div>
            <div class="box-2">
                <p>打刻履歴</p>
                <table>
                    <tr th:each="timestampHistory : ${timestampHistories}">
                        <td th:text="${#temporals.format(timestampHistory.date, 'MM/dd')}"></td>
                        <td th:text="${#temporals.format(timestampHistory.time, 'HH:mm')}"></td>
                        <td>
                            <th:block th:switch="${timestampHistory.type}">
                                <span th:case="1">出勤</span>
                                <span th:case="2">休憩開始</span>
                                <span th:case="3">休憩終了</span>
                                <span th:case="4">退勤</span>
                                <span th:case="*">エラー</span>
                            </th:block>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    <script src="/js/script.js"></script>
    </main>
</html>