<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
    <main layout:fragment="content">
        <form action="" method="get">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <label>キーワード</label>
            <input type="text" name="keyword">
            <label>部署</label>
            <input type="text" name="department_id">
            <label>権限グループ</label>
            <input type="text" name="group_id">
            <input type="submit" value="検索">
        </form>
        <div>
            <p><span th:text="${firstDay}"></span>-<span th:text="${lastDay}"></span></p>
            <div>
                <a th:href="@{'/users_daily_timestamps/' + ${ym.minusMonths(1)}}">先月</a> |
                <a th:href="@{'/users_daily_timestamps/' + ${ym.plusMonths(1)}}">翌月</a>
            </div>
            <table>
                <tr th:each="timestamp : ${timestamps}">
                    <td th:text="${timestamp}"></td>
                </tr>
            </table>
        </div>
    </main>
</html>